
<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <a href="#" ui-sref="EditProfile"><span data-hover="Personal&nbsp;Info">Personal Info</span></a>
            </li>
            <li class="active">
                <a href="#" ui-sref="ChangePassword"><span data-hover="Change&nbsp;Password">Change Password</span></a>
            </li>
            <li>
                <a href="#" ui-sref="AddressBook" ><span data-hover="Address&nbsp;Book">Address Book</span></a>
            </li>
            <li>
                <a href="#" ui-sref="OrderHistory" ><span data-hover="Order&nbsp;History">Order History</span></a>
            </li>
            <li>
                <a href="#" ui-sref="PointsAudit"><span data-hover="Audit&nbsp;Points">Audit Points</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="container" ng-controller="ProfileController">
    <form name="ChangePasswordForm" id="ChangePasswordForm" class="form-horizontal" novalidate>
        <div class="account-block">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div role="tabpanel" class="form-horizontal" id="messages" style="margin-top:8px">
                        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="ChangePasswordForm.$submitted && !ChangePasswordForm.$valid">
                            <ul ng-show="validationErrors">
                                <li ng-repeat="error in validationErrors">{{error}}</li>
                            </ul>
                            <ul ng-show="ChangePasswordForm.$submitted && (!ChangePasswordForm.$valid)">
                                <li ng-show="ChangePasswordForm.confirm_password.$error.passwordVerify">Password and Confirm Password must be same.</li>
                                <li ng-show="ChangePasswordForm.Password.$error.required">Password is required.</li>
                                <li ng-show="ChangePasswordForm.confirm_password.$error.required">Confirm Password is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="row">
                    <div class="col-sm-12 mb-25">
                        <label>New Passward</label>
                        <input type="password" class="form-control" name="Password" maxlength="100" placeholder="Enter Password" ng-model="GetCustomerDetailObj.password" required="required">
                    </div>
                    <div class="col-sm-12 mb-30">
                        <label>Conform Passward</label>
                        <input ng-model="GetCustomerDetailObj.password_verify" class="form-control" type="password" name='confirm_password' placeholder='Confirm Password' data-password-verify="GetCustomerDetailObj.password" required="required">
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" ng-click="SaveChangedPassword(ChangePasswordForm)" class="btn btn-empty">Update Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>