
<div ng-controller="StoreReviewDashboardController">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Store Summary</h4>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">
                </div>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Store Summary</li>


            </ul>
            <!--<ul class="breadcrumb-elements">
                <li> <button type="button" class="btn btn-success btn-md" data-placement="top" data-toggle="tooltip" title="Export Store" ng-click="ExportStoreHTMLPDF()"> Generate Store PPT<i class="icon-arrow-right14 position-right"></i></button></li>
                <li ng-hide="true"> <a id='Generatepdf' ng-hide="true">Generate ppt</a></li>
            </ul>-->
        </div>
    </div>
    <div class="drop" style="padding:0 20px 20px 20px;">
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label"> Select Year</label> <select data-ng-model="selectedyear" class="form-control" name="Years" ng-options="x.id as x.name for x in Years" ng-change="GetMonthData(selectedyear)"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Select Month </label><select data-ng-model="selectedmonth" class="form-control" name="Months" ng-init="GetMonthData(selectedyear)" ng-change="GetChartData(selectedyear,selectedmonth)" ng-options="m.id as m.name for m in Months"></select>
            </div>
        </div>
    </div>
    <div class="page-header-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">ORDERS PLACED BY TYPE</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="OrderByTypeModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">TOP POINTS HOLDERS</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="TopPointsHolderModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">POINTS REDEEMED {{selectedyear-1}}/{{selectedyear}}</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="PointsRedeemModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">VOUCHER ORDERED BY TYPE</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="VoucherOrderByTypeModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">STORE SUMMARY</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="StoreSummaryModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading dashboardreiewPanel">
                        <h5 class="panel-title">POINTS LOADED {{selectedyear-1}}/{{selectedyear}}</h5>
                    </div>
                    <div class="panel-body">
                        <div class="chart-container text-center">
                            <button class="btn btn-primary" ng-click="MonthlyPointModalClick()">SHOW DATA</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="OrderByTypeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ORDERS PLACED BY TYPE</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">

                        <div class="tableFixHead">
                            <table class="table table-bordered  table-striped datatable-responsive" datatable="ng" id="tblOrderType" dt-options="dtOptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Type Name</th>
                                        <th>Order Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in OrderPlaceTypeList">
                                        <td ng-bind="Item.Name"></td>
                                        <td ng-bind="Item.OrderCount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="exportToExcelOrderPlaceType()">Export To Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <div id="TopPointsHolderModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TOP POINTS HOLDERS</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">

                        <div class="tableFixHead">
                            <table class="table table-bordered table-striped datatable-responsive" id="tblTOPPoint" dt-options="dtOptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Points</th>
                                        <th>Status</th>
                                        <th>Date Added</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in TopPointsHolderList">
                                        <td ng-bind="Item.FullName"></td>
                                        <td ng-bind="Item.Email"></td>
                                        <td ng-bind="Item.Points"></td>
                                        <td ng-bind="Item.Status"></td>
                                        <td> {{Item.DateAdded| date: GlobalDateFormat}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="exportToExcelTopPointsHolder()">Export To Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <div id="PointsRedeemModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">POINTS REDEEMED {{selectedyear-1}}/{{selectedyear}}</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">

                        <div class="tableFixHead">
                            <table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblPointRedeem" dt-options="dtOptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in PointsRedeemList">
                                        <td ng-bind="Item.Month"></td>
                                        <td ng-bind="Item.Points"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="exportToExcelPointsRedeem()">Export To Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="VoucherOrderByTypeModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">VOUCHER ORDERED BY TYPE</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">
                        <div class="tableFixHead">
                            <table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblPointRedeem" dt-options="dtOptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Orders</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in VoucherOrderByTypeList">
                                        <td ng-bind="Item.ReportCategoryName"></td>
                                        <td ng-bind="Item.Orders"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="exportToExcelVoucherOrderByType()">Export To Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="StoreSummaryModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">STORE SUMMARY</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>PARTICIPANTS</h4>
                                <div class="tableFixHead">
                                    <table class="table table-bordered table-striped datatable-responsive" id="tblStoreSummary" dt-options="dtOptions" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Activated</th>
                                                <th>Not Activated</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td ng-bind="activatedParticipants"></td>
                                                <td ng-bind="notActivatedParticipants"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4>POINTS</h4>
                                <div class="tableFixHead">
                                    <table class="table table-bordered table-striped datatable-responsive" id="tblStoreSummary" dt-options="dtOptions" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Activated Accounts</th>
                                                <th>Not Activated Accounts</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td ng-bind="activatedacounts"></td>
                                                <td ng-bind="notActivatedaccounts"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Points Loaded Modal Popup-->
    <div id="MonthlyPointsModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">POINTS LOADED {{selectedyear-1}}/{{selectedyear}}</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">
                        <div class="tableFixHead">
                            <table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblPointRedeem" dt-options="dtOptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Month Name</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in MonthlyPointsList">
                                        <td ng-bind="Item.Month"></td>
                                        <td ng-bind="Item.Points"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="exportToExcelMonthlyPoint()">Export To Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<style type="text/css">
    .dashboardreiewPanel {
        border-bottom: solid 1px lightblue;
        background: lightblue;
    }
</style>