

<div class="container">
    <div class="my-account mt-30">
        <div class="col-sm-12">
            <div class="points personal-info">
                <h3>COOKIE POLICY – DETAILED POLICY</h3>
            </div>

        </div>
    </div>
</div>

<div class="container mt-30 account-block">

    <div class="col-md-12">

        <div class="note">
            <h4>Cookies</h4>
            <p>Our website, like most websites, uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By using cookies, the website is essentially able to ‘remember’ you during a single visit to the site (known as a session cookie) or for repeat visits (known as persistent cookies).</p>
            <p>By continuing to browse the site, we will assume that you agree to our use of cookies as set out below.</p>
            <h4>What is a cookie?</h4>
            <p>A cookie is a small file of letters and numbers that is stored on your browser, the hard drive of your computer or your mobile device. Each cookie is unique to your web browser.</p>
            <p>We use the following cookies on our site:</p>
            <ul>
                <li><strong>Strictly necessary cookies.</strong> These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website.</li>
                <li><strong>Analytical/performance cookies.</strong> They allow us to recognise and count the number of visitors to our site and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. This information is anonymous – we do not collect anything that would identify a user. We combine individual user data with the rest of the visitor data and examine it as a whole to build up a picture of how the site is performing.</li>
                <li><strong>Functionality cookies.</strong> These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</li>
                <li><strong>Targeting cookies.</strong> These cookies record your visit to our website, the pages you have visited and the links you have followed. We use this information to make our website more relevant to your interests.</li>
            </ul>
            <h4>Third Party Cookies</h4>
            <p>Please note that third parties (including, for example, providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.</p>
            <p>The PEAC website also carries embedded ‘share’ buttons to enable users of the site to easily share articles with their friends through a number of popular social networks, for example, Facebook, Twitter or LinkedIn. These sites may set a cookie when you are also logged in to their service.</p>
            <p>Examples of the types of third party cookies we use on our site include LinkedIn, Twitter and Facebook cookies. PEAC does not control the dissemination of these cookies and you should check the relevant third party website for more information about these cookies.</p>
            <p>Their respective cookie policies can be found by following these links:</p>
            <p>
                LinkedIn – <a href="https://www.linkedin.com/legal/cookie-policy">https://www.linkedin.com/legal/cookie-policy</a><br />
                Twitter – <a href="https://twitter.com/privacy">https://twitter.com/privacy</a><br />
                Facebook – <a href="https://www.facebook.com/help/cookies/">https://www.facebook.com/help/cookies/</a>
            </p>
            <p>For information on the other third party cookies used on our website, please contact the Data Protection Officer, PEAC (UK) Limited, Inspired, Easthampstead Road, Bracknell RG12 1YQ.</p>
            <h4>What to do if you don’t want cookies to be set</h4>
            <p>If you prefer, it is possible to block some or all cookies, or even to delete cookies that have already been set.</p>
            <p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies; the Help function within your browser should tell you how. Alternatively, <a href="https://www.aboutcookies.org/">www.aboutcookies.org</a> contains comprehensive information on how to do this on a wide variety of desktop browsers. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.</p>
            <p>For more information on how to control cookies, please refer to: <a href="http://www.allaboutcookies.org/manage-cookies/index.html">http://www.allaboutcookies.org/manage-cookies/index.html</a></p>
            <p>For more information on how to delete cookies, please refer to: <a href="http://www.aboutcookies.org/default.aspx?page=2">http://www.aboutcookies.org/default.aspx?page=2</a></p>
            <h4>Expiry of cookies</h4>
            <p>Cookies may be either ‘session cookies’ or ‘persistent cookies’. Your computer automatically removes session cookies once you close your browser. Persistent cookies will survive on your computer until an expiry date specified in the cookie itself, is reached.</p>
        </div>


    </div>
</div>





