
<div>
    <div class="container-fluid">
        <div class="col-md-9 col-xs-12 mb-30">
            <div class="row">
                <div class="col-sm-12 banner-slider" ng-controller="Dashboard_BannerController">
                    <ul class="main-banner" data-bx-slider="pager:false,nextText:'',prevText:'',mode: 'fade',auto:true,autoStart: true">
                        <li ng-repeat="Banner in BannerList" data-notify-when-repeat-finished>
                            <a ng-href="{{Banner.Link}}" target="_blank"> <img ng-src="{{Banner.Image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="Slider banner" height="355" width="1115" /></a>
                        </li>
                    </ul>
                </div>
                <div style="text-align:center;" ng-show="StoreDetailInSession.store_id ==1083"><h4> Welcome to Rigby Capital Rewards</h4></div>
                @* Dashboard_BestSellerController *@
                <div class="col-sm-12 best-block" ng-controller="Dashboard_BestSellerController">
                    <div class="col-sm-12 white-bg" ng-if="BestSellerList && BestSellerList.length>0">
                        <div class="block-heading">
                            <h4>
                                Best Sellers
                                <span class="slider-nav">
                                    <a ng-click="NextBestSeller()" ng-hide="BestSeller == 0 || BestSeller.length <=3" class="bx-next"></a>
                                    <a ng-click="PreviousBestSeller()" ng-hide="BestSeller == 0 || BestSeller.length <=3" class="bx-prev"></a>
                                </span>
                            </h4>
                        </div>
                        <div class="col-sm-12">
                            @*<div class="row best-seller" data-bx-slider="pager:false,nextText:'',prevText:''">*@
                            <div class="seller-block" ng-repeat="BestSeller in BestSellerList" data-notify-when-repeat-finished>
                                <div class="col-xs-4">
                                    <img class="full-width" ng-src="{{BestSeller.Image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="seller" style="max-height:100px" />
                                </div>
                                <div class="col-xs-8">
                                    <a href="" ui-sref="LayoutProductDetail({ProductId:BestSeller.product_id})" class="seller-desc" ng-bind="BestSeller.name"></a>
                                    <p><span ng-bind="BestSeller.Model"></span></p>
                                    <p class="seller-desc"><span ng-bind="BestSeller.points +' Points'"></span></p>
                                    <a href="" class="cursor-pointer" ng-controller="AddProductToCartController"><span class="glyphicon glyphicon-shopping-cart" ng-click="AddProductToCart(BestSeller,$event)" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*  Dashboard_RewardWinnerController*@
        <div ng-controller="Dashboard_RewardWinnerController">
            <div class="col-md-3 col-xs-12 mb-30" ng-if="Make_rewardWinnerVisible">
                <div class="col-sm-12 block-bg deals">
                    <div class="block-heading">
                        <h4>Reward Winners</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="hot-deals" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 1,mode: 'vertical'">
                            <div class="media col-sm-12" ng-repeat="rewardWinner in RewardWinners" data-notify-when-repeat-finished>
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{rewardWinner.Customer_img}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="deals" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" ng-bind="rewardWinner.Title"></h4>
                                    <p ng-bind="rewardWinner.WinnerName"></p>
                                    <span ng-bind="rewardWinner.Rewards"></span>
                                    <span ng-bind="rewardWinner.winner_declared_date | date:GlobalDateFormat"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Dashboard_HotDealsController *@
        <div ng-controller="Dashboard_HotDealsController" ng-if="Make_rewardWinnerVisible">
            <div class="col-md-3 col-xs-12 mb-30" ng-if="HotDealsList.length>0">
                <div class="col-sm-12 block-bg deals">
                    <div class="block-heading lblMonthlyPrize">
                        <h4>MONTHLY PRIZE</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        @*<div class="hot-deals" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 1,mode: 'vertical'">*@
                        <div class="media col-sm-12" ng-repeat="HotDeals in HotDealsList" data-notify-when-repeat-finished>
                            <div class="media-left">
                                <img class="media-object" ng-src="{{HotDeals.Image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="deals" />
                            </div>
                            <div class="media-body">
                                <a ui-sref="LayoutProductDetail({ProductId:HotDeals.product_id})" ng-bind-html="HotDeals.name"></a>
                                <p ng-bind="HotDeals.Model"></p>
                                <span ng-bind="(HotDeals.points | number:0) +' Points'"></span>
                            </div>
                            <div class="add-cart" ng-controller="AddProductToCartController">
                                <button class="btn btn-empty add_to_cart_dish" ng-click="AddProductToCart(HotDeals,$event)">Add to Cart</button>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="Dashboard_HotDealsController" ng-if="!(Make_rewardWinnerVisible)">
            <div class="col-md-3 col-xs-12 mb-30" ng-if="HotDealsList.length>0">
                <div class="col-sm-12 block-bg deals">
                    <div class="block-heading lblMonthlyPrize">
                        <h4>MONTHLY PRIZE</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        @*<div class="hot-deals" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 3,maxSlides: 2,mode: 'vertical' ">*@
                        <div class="media col-sm-12" ng-repeat="HotDeals in HotDealsList" data-notify-when-repeat-finished>
                            <div class="media-left">
                                <img class="media-object" ng-src="{{HotDeals.Image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="deals" />
                            </div>
                            <div class="media-body">
                                <a ui-sref="LayoutProductDetail({ProductId:HotDeals.product_id})" ng-bind="HotDeals.name | limitTo:27" title="{{HotDeals.name}}"></a>
                                <p ng-bind="HotDeals.Model |limitTo:10" title="{{HotDeals.Model}}"></p>
                                @*<span ng-bind="(HotDeals.points | number:0) +' Points'"></span>*@
                            </div>
                            @*<div class="add-cart" ng-controller="AddProductToCartController">
                                    <button class="btn btn-empty add_to_cart_dish" ng-click="AddProductToCart(HotDeals,$event)">Add to Cart</button>
                                </div>*@
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>

        @* Dashboard_PopularCategoryController *@
        <div class="col-md-7 col-xs-12 mb-30" ng-controller="Dashboard_PopularCategoryController">
            <div class="col-sm-12 block-bg popular-category" ng-if="PopularCategoryList.length>0">
                <div class="block-heading">
                    <h4>Popular Categories</h4>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-center pb-20" ng-repeat="PopularCategory in PopularCategoryList">
                        <div class="row">
                            <div class="col-sm-12">
                                <img ng-src="{{PopularCategory.image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="Img" />
                            </div>
                            <a href="" class="cursor-pointer" ui-sref="LayoutCategoryORProductList({CategoryId:PopularCategory.category_Id})" ng-bind-html="PopularCategory.name"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Dashboard_StoreImageController *@
        <div class="col-md-5 col-xs-12  mb-30" ng-controller="Dashboard_StoreImageController">
            <div class="offer-block new-product" ng-repeat="AdvImg in StoreAdvertisementImageList | filter: { ImageKey: 1 }">
                <img ng-if="AdvImg.Image!=undefined && AdvImg.Image!='' " src="{{AdvImg.Image}}" alt="Store Image" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="row">
                @* Dashboard_CategoryController *@
                <div class="col-md-12 col-sm-6 col-xs-12 mb-20" ng-controller="Dashboard_CategoryController">
                    <div class="block-bg pb-15">
                        <div class="col-sm-12">
                            <div class="block-heading">
                                <h4>Categories</h4>
                            </div>
                        </div>
                        <div class="category-list" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 2,maxSlides: 1,mode: 'vertical'">
                            <ul class="col-sm-12">
                                <li ng-repeat="category in CategoryList"><a href="" class="cursor-pointer" ui-sref="LayoutCategoryORProductList({CategoryId:category.Category_Id})" ng-bind-html="category.name"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* Dashboard_SpecialOffersController *@
                <div class="col-md-12 col-sm-6 col-xs-12" ng-controller="Dashboard_SpecialOffersController">
                    <div class="col-sm-12 block-bg deals special-offer mb-30" ng-if="SpecialOfferList.length>0">
                        <div class="block-heading">
                            <h4>
                                Special Offers
                                <span class="slider-nav">
                                    @*<button ng-click="NextSpecialOffer()" ng-disabled="SpecialOffer != null ? SpecialOfferIndexEnd == SpecialOffer.length : ''"><i class="glyphicon glyphicon-plus"></i></button>
                                     <button ng-click="PreviousSpecialOffer()" ng-disabled="SpecialOfferIndexEnd == 0"><i class="glyphicon glyphicon-minus"></i></button>*@
                                    <a ng-click="NextSpecialOffer()" ng-hide="SpecialOffer == 0 || SpecialOffer.length <=2" class="bx-next"></a>
                                    <a ng-click="PreviousSpecialOffer()" ng-hide="SpecialOffer == 0 || SpecialOffer.length <=2" class="bx-prev"></a>
                                </span>
                            </h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            @*<div id="special-offer" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 2,maxSlides: 1,mode: 'vertical',stopAuto: false">*@
                            <div class="media col-sm-12" ng-repeat="SpecialOffer in SpecialOfferList" data-notify-when-repeat-finished>
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{SpecialOffer.Image}}" onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="special Offer" />
                                </div>
                                <div class="media-body">
                                    <a ui-sref="LayoutProductDetail({ProductId:SpecialOffer.product_id})" ng-bind-html="SpecialOffer.name | limitTo:35" title="{{SpecialOffer.name}}"></a>
                                    <p ng-bind="SpecialOffer.Model | limitTo:15" title="{{SpecialOffer.Model}}"></p>
                                    <span ng-bind="(SpecialOffer.points | number:0) +' Points'"></span>
                                </div>
                                <div class="add-cart" ng-controller="AddProductToCartController">
                                    <button class="btn btn-empty add_to_cart_dish" ng-click="AddProductToCart(SpecialOffer,$event)">ADD TO CART</button>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Dashboard_LatestProductController *@
        <div class="col-lg-9 col-md-8 col-xs-12" ng-controller="Dashboard_LatestProductController">
            <div class="row">
                <div class="col-sm-12 latest-product" ng-if="LatestProductList.length>0">
                    <div class="block-heading">
                        <h4>
                            Latest Products
                            <span class="slider-nav">
                                <a ng-click="NextLatestProduct()" ng-hide="LatestProduct == 0 || LatestProduct.length <=4" class="bx-next"></a>
                                <a ng-click="PreviousLatestProduct()" ng-hide="LatestProduct == 0 || LatestProduct.length <=4" class="bx-prev"></a>
                            </span>
                        </h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row pull-left">
                        @*<div id="latest-product" class="col-sm-12" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 5,slideWidth: 250">*@
                        <div class="col-sm-3" ng-repeat="LatestProduct in LatestProductList" data-notify-when-repeat-finished>
                            <div class="product-block">
                                <div class="product-img">
                                    <img ng-src='{{LatestProduct.Image}}' onerror="angular.element(this).scope().SetNoImageSrc(this)" alt="latest product" />
                                </div>
                                <a ui-sref="LayoutProductDetail({ProductId:LatestProduct.product_id})" ng-bind-html="LatestProduct.name | limitTo:27" title="{{LatestProduct.name}}"></a>
                                <p ng-bind="LatestProduct.Model| limitTo:15" title="{{LatestProduct.Model}}"></p>
                                <p><span ng-bind="LatestProduct.points +' Points'"></span></p>
                                <div class="row" ng-controller="AddProductToCartController">
                                    <button class="btn btn-default add_to_cart_dish" ng-click="AddProductToCart(LatestProduct,$event)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
                @* Dashboard_StoreImageController *@
                <div class="col-sm-6 col-xs-12 mb-30" ng-controller="Dashboard_StoreImageController">
                    <div class="offer-block">
                        <img ng-if="AdvImg.Image!=undefined && AdvImg.Image!='' " src="{{AdvImg.Image}}" ng-repeat="AdvImg in StoreAdvertisementImageList | filter: { ImageKey: 2 }" alt="Store Image" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 mb-30" ng-controller="Dashboard_StoreImageController">
                    <div class="offer-block">
                        <img ng-if="AdvImg.Image!=undefined && AdvImg.Image!='' " src="{{AdvImg.Image}}" ng-repeat="AdvImg in StoreAdvertisementImageList | filter: { ImageKey: 3 }" alt="Store Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.mCustomScrollbar.defaults.theme = 'dark-thick';
        $('.category-list').mCustomScrollbar();
    });

</script>


