
CordobaWeb/obj/
 
*.dll
*.pdb

*.Cache

*.exe

*.user

*.suo


*.force

*.xml

*.Cache

CordobaWeb/bin/


CordobaCatalogImageService/bin/
CordobaCatalogImageService/obj/
packages/

CordobaServices/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CordobaServices/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CordobaServices/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CordobaServices/obj/Release/CordobaServices.csproj.FileListAbsolute.txt
CordobaServices/obj/Debug/CordobaServices.csproj.FileListAbsolute.txt
CordobaModels/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CordobaModels/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CordobaServices/obj/Debug/CordobaServices.csproj.FileListAbsolute.txt
CordobaModels/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CordobaModels/obj/Release/edmxResourcesToEmbed/Edmx/Cordoba.msl
CordobaModels/obj/Release/CordobaModels.csproj.FileListAbsolute.txt
CordobaModels/obj/Release/edmxResourcesToEmbed/Edmx/Cordoba.csdl
CordobaModels/obj/Release/edmxResourcesToEmbed/Edmx/Cordoba.ssdl
CordobaServices/obj/Debug/CordobaServices.csproj.FileListAbsolute.txt
CordobaModels/obj/Debug/CordobaModels.csproj.FileListAbsolute.txt
CordobaModels/bin/Release/CordobaModels.dll.config
CordobaCommon/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CordobaCommon/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CordobaCommon/obj/Release/CordobaCommon.csproj.FileListAbsolute.txt
CordobaCommon/obj/Debug/CordobaCommon.csproj.FileListAbsolute.txt
CordobaCatalogImageService/obj/Debug/CordobaCatalogImageService.csproj.FileListAbsolute.txt
CordobaAPI/obj/Debug/CordobaAPI.csproj.FileListAbsolute.txt
CordobaCommon/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CordobaCatalogImageService/obj/Debug/CordobaCatalogImageService.csproj.FileListAbsolute.txt
CordobaAPI/TempFiles/98ff4dfa-9ca2-4e29-b297-8f88451a8e68.xlsx
CordobaAPI/obj/Release/TransformWebConfig/transformed/Web.config
CordobaCatalogImageService/obj/Debug/CordobaCatalogImageService.csproj.FileListAbsolute.txt
CordobaAPI/obj/Release/TransformWebConfig/original/Web.config
CordobaAPI/obj/Release/TransformWebConfig/assist/Web.config
CordobaAPI/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CordobaAPI/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CordobaAPI/obj/Release/Package/PackageTmp/Web.config
CordobaAPI/obj/Release/Package/PackageTmp/Views/Web.config
CordobaAPI/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
CordobaAPI/bin/CordobaAPI.dll.config
CordobaAPI/obj/Debug/CordobaAPI.csproj.FileListAbsolute.txt
CordobaAPI/obj/Release/_WPPLastBuildInfo.txt
CordobaAPI/bin/CordobaAPI.dll.config
CordobaAPI/obj/Release/CordobaAPI.csproj.FileListAbsolute.txt
CordobaAPI/obj/
CordobaCatalogImageService/bin/Debug/CordobaCatalogImageService.vshost.exe.config
CordobaAPI/bin/CordobaAPI.dll.config
