@media (max-width:1199px) and (min-width:992px) {
	.deals .media-left { padding-right:10px; }
	.deals .media-right { padding-left:10px; }
	.deals .media img { max-width:75px; }
	.deals .media-body p { margin-bottom:0; }
	.deals .media-heading { font-size:14px; line-height:19px; margin-bottom:5px; }
	.deals .media { padding-bottom:10px; }
	.deals .media:nth-child(even), .add-cart { padding-top:10px; }
	.block-heading { padding-top:10px; margin-bottom:20px; }
	.deals .block-heading { margin-bottom:10px; }
	.deals .bx-controls-direction a { top:-30px; }
	.latest-product .bx-controls-direction a { top:-40px; }
	.block-heading h4 { font-size:21px; }
	.popular-category p { font-size:17px; line-height:21px; font-weight:bold; }
	.footer-links li { padding-right:40px; }
	.footer-links li::before { right:18px; }
	.search-block { width:70%; }
	.product-list .product-block { width:25%; }
	.new-product  { margin-bottom: 20px !important; }

}
@media (max-width:991px) {
	body { padding-bottom:240px }
	.navbar-default .navbar-nav > li > a { margin:0; font-size:15px; padding:20px 10px 10px; }
	.main-heding { padding-top:25px; }
	.footer-logo, .connect-to { text-align:center; }
	.footer-links { width:100%; }
	.search-block { width:68%; }
	.product-list .product-block { width:33.33%; }
	.recently-viewed .col-md-3 { width: 33%; float: left; }
	.banner-slider a.bx-prev:before, .banner-slider a.bx-next:before {left: 10px;font-size: 25px;}
	.banner-slider a.bx-next:before {left: 13px;}
	.banner-slider .bx-controls-direction a{height: 35px;width: 35px;}
}
@media (max-width:767px) {
	body { padding-bottom:0; }
	footer { position:static; }
	.navbar-nav { margin-top:0; margin-bottom:0; }
	header .navbar-nav { text-align:center; }
	header .nav > li { display:inline-block; }
	.navbar-header { width:100%; margin:0 !important; }
	.navbar-brand { height:auto; line-height:0; padding:15px; max-width:280px; }
	#navbar .navbar-nav li { float:left; width:100%; }
	.navbar-default .navbar-nav > li > a { padding:10px 0 8px; }
	.main-menu { width:100%; padding:0 0 10px; }
	.cart-block { width:50px; text-align:left; padding-top:5px; }
	.search-panel .cart-block .badge { left:20px; top:-10px; }
	.main-heding { padding-top:0; }
	.welcome-block p:last-child { padding-bottom:0; }
	.search-block { width:calc(100% - 50px); }
	.product-list .product-block { width:100%; }
	.profile-block p { text-align:left; margin-bottom:0; }
	.radio-btn { padding-top:0; }
	.footer-links li { width:100%; padding:0 0 5px 0; }
	.footer-links li:before { display:none; }
	.footer-links li a { font-size:18px; line-height:23px; }
	.footer-logo, .connect-to { text-align:left; }
    .cart-desc .col-sm-4 .account-block {
        margin-top:10px;
    }
    .product-price {
        text-align:left;
        padding:15px 0 0 90px;
    }
    #cancelProfile .row .col-sm-6, #ChangePasswordForm .col-sm-4.col-sm-offset-4 .col-sm-12 {
        padding:0;
    }
    .navbar-default .navbar-nav > li {
        border-left:none;
    }
    #navbar {
        border-top:none;
    }
        #navbar .navbar-nav {
            float:left;
        }
    .container-fluid {
        padding:0;
    }
    .product-detail h3 {
        font-size:20px;
    }
   .navbar-nav .open .dropdown-menu{position: absolute;background-color: #ffffff;}
}
@media (max-width:640px) {
	body { padding-top:250px; }
	.login_text { display: none; }
	.login_page { width: 100% }
}
@media (max-width:480px) { 
	.recently-viewed .col-md-3 { width: 100%; float: left; }
}
@media (max-width:360px) {
	header .navbar-nav li a { padding:10px 10px 0; }
    header .navbar-nav li p.hi-text {
        padding-top:10px;
        padding-bottom:0;
    }
	.navbar-brand { max-width:240px; }
	.deals .media-left { padding-right:15px; }
	.deals .media-right { padding-left:15px; }
	.main-heding { font-size:25px; line-height:35px; }
}