 

<div class="container">
    <div class="my-account mt-30">
        <div class="col-sm-12">
            <div class="points personal-info">
                <h3>PEAC’S WEBSITE PRIVACY STATEMENT</h3>
            </div>

        </div>
    </div>
</div>
 
<div class="container mt-30 account-block">
     
    <div class="col-md-12">

        <div class="note">
            <p>PEAC (UK) Limited and its affiliates (“PEAC”) respects your concerns about privacy and values the relationship we have with you. This Privacy Statement (together with our terms of use describes the types of personal data we collect about our customers through this Website, how we use the data, with whom we share the data, and the choices available to our customers regarding our use of the data. We also describe the measures we take to protect the security of the data and how our customers can contact us about our privacy practices.</p>
            <p>For the purposes of the EU General Data Protection Regulation 679/2016, the data controller is PEAC (UK) Limited of Inspired, Easthampstead Road, Bracknell RG12 1YQ.  PEAC is registered with the Information Commissioner’s Office with registration number Z8714590.</p>
            <h4>Personal Data We Collect</h4>
            <p>We collect personal data about you through your use of the Website. We also collect certain data by automated means, using technologies such as cookies, web server logs and web beacons.</p>
            <h4>Personal Data You Provide</h4>
            <p>The types of personal data you may provide to us when using the Website includes</p>
            <ul>
                <li>Contact information (such as name, company name, title, postal address, email address, fax number and telephone number)</li>
                <li>Customer Pin and Contract number</li>
                <li>Username and password</li>
            </ul>
            <p>We will not collect any sensitive personal data from you and in any event, will request your express consent to do so.</p>
            <h4>How We use the Personal Data You Provide</h4>
            <p>We may use the personal data you provide for a range of purposes, depending on your interaction with the Website, including to:</p>
            <ul>
                <li>Create, manage and administer your account</li>
                <li>Provide you with access to your payment history, invoices, leases, online asset register reports and other related services Process and manage your payments</li>
                <li>Respond to your inquiries and requests for information</li>
                <li>Send you marketing communications</li>
                <li>Protect against fraud</li>
                <li>Operate, evaluate and improve our business (including developing new products and services; enhancing and improving our services; managing our communications; analyzing our products; performing data analytics; and performing accounting, auditing and other internal business functions)</li>
                <li>Comply with applicable legal requirements, relevant industry standards and our policies.</li>
            </ul>
            <p>We also may use the data in other ways for which we provide specific notice at the time of collection.</p>
            <h4>Data We Collect by Automated Means</h4>
            <p>When you visit this Website, we collect certain data by automated means, using technologies such as cookies, web server logs and web beacons.</p>
            <h4>Technologies We use</h4>
            <p>Cookies are small text files that websites send to your computer or other Internet connected device to uniquely identify your browser or to store information or settings in your browser. Your browser may tell you how to be notified when you receive certain types of cookies and how to restrict or disable certain cookies. Please note, however, that without cookies you may not be able to use all of the features of our Website.</p>
            <p>For detailed information on the cookies we use and the purposes for which we use them, please see our Cookie Policy.</p>
            <p>In conjunction with obtaining data through cookies, our web servers may log details such as your operating system type, browser type, domain, and other system settings, as well as the language your system uses and the country and time zone in which your device is located. The web server logs also may record data such as the address of the web page that linked you to our Website and the IP address of the device you use to connect to the Internet.</p>
            <p>To control which web servers collect this data, we may place tags on our web pages called “web beacons.” These are computer instructions that link web pages to particular web servers and their cookies.</p>
            <h4>How we use the Data Collected by Automated Means</h4>
            <p>We may use the data collected through automated means on the Website to deliver personalized content and for market research, data analytics and system administration purposes, such as to determine whether you’ve visited us before or are new to the Website, and for compliance with our legal obligations, policies and procedures, including compliance with relevant industry standards and the enforcement of our Terms &amp; Conditions. We also may use the data in other ways for which specific notice is provided at the time of collection.</p>
            <h4>Personal Data We Share</h4>
            <p>We do not sell or otherwise disclose personal data we collect about you, except as described here. We may share your personal data with:</p>
            <ul>
                <li>Our affiliates for the purposes described in this Privacy Statement.</li>
                <li>Service providers who perform services on our behalf based on our instructions. We do not authorize these service providers to use or disclose the data except as necessary to perform services on our behalf or comply with legal requirements. Examples of these service providers include entities that provide web hosting services.</li>
                <li>Credit reference and fraud prevention agencies.</li>
                <li>Other third parties with your consent.</li>
            </ul>
            <p>In addition, we may disclose data about you (i) if we are required to do so by law or legal process, (ii) to law enforcement authorities or other government officials, or (iii) when we believe disclosure is necessary or appropriate to prevent physical harm or financial loss, or in connection with an investigation of suspected or actual fraudulent or illegal activity.</p>
            <p>We also reserve the right to transfer personal data we have about you in the event we sell or transfer all or a portion of our business or assets. Should such a sale or transfer occur, we will use reasonable efforts to direct the transferee to use personal data you have provided to us in a manner that is consistent with our Privacy Statement. Following such a sale or transfer, you may contact the entity to which we transferred your personal data with any inquiries concerning the processing of that data.</p>
            <p>For further information on how we share Customer Personal Data, please click on &#8220;Customer Privacy Notice&#8221; below.</p>
            <h4>Your Rights and Choices</h4>
            <p>We offer you certain choices in connection with the personal data we collect from you, such as how we use the data and how we communicate with you. To update your preferences, ask us to remove your data from our mailing lists or submit a request, please contact us as specified below.</p>
            <h4>Email Opt-Out</h4>
            <p>You can at any time tell us to stop sending you marketing communications by email by clicking on the unsubscribe link within the marketing emails you receive from us or by contacting us as indicated below.</p>
            <h4>Postal Mail Opt-Out</h4>
            <p>You can at any time tell us to stop sending you marketing communications by postal mail by following the instructions that may be included in a particular promotion. You can also opt out of receiving promotional postal mail from us by contacting us as indicated below.</p>
            <h4>Withdrawing Consent</h4>
            <p>You may withdraw any consent you previously provided to us, or object at any time on legitimate grounds, to the processing of your personal data. We will apply your preferences going forward within a reasonable amount of time. In some circumstances, withdrawing your consent to our use or disclosure of your personal data will mean that you cannot take advantage of some of our products or services.</p>
            <h4>Accessing, Reviewing and Modifying Personal Data</h4>
            <p>Subject to applicable law, you may have the right to request access to and receive details about the personal data we maintain about you, update and correct inaccuracies in your personal  data, and have the data blocked or deleted, as appropriate. The right to access personal data may be limited in some circumstances by local law requirements. You may request access to your personal data or request to change or delete your personal data by using certain features of the Website, such as the “My Profile” page, or by contacting us as specified below.</p>
            <h4>Data Transfers</h4>
            <p>To use and disclose personal data for the purposes and to those recipients described above, we may transfer personal data to countries outside the European Economic Area (“EEA”), including the United States, that may not have laws comparable to those in the EEA to protect the privacy of such personal data. Any such transfer will be in accordance with contractual clauses approved by the European Commission or otherwise in accordance with applicable law.</p>
            <h4>How We Protect Personal Data</h4>
            <p>We maintain appropriate administrative, technical and physical safeguards designed to protect the personal data you provide against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use.</p>
            <h4>Links to Other Websites</h4>
            <p>Our Website may provide links to other sites for your convenience and information. These sites may operate independently from us. Linked sites may have their own privacy notices or policies, which we strongly suggest you review if you visit any linked websites. To the extent any linked sites you visit are not owned or controlled by us, we are not responsible for the sites’ content, any use of the sites, or the privacy practices of the sites.</p>
            <h4>Updates to Our Privacy Statement</h4>
            <p>This Privacy Statement may be updated periodically and without prior notice to you to reflect changes in our personal data practices. We will post a prominent notice on our Website to notify you of any significant changes to our Privacy Statement and indicate at the top of the Privacy Statement when it was most recently updated.</p>
            <h4>How to Contact Us</h4>
            <p>If you have any questions or comments about this Privacy Statement, or if you would like us to update data we have about you or your preferences, please write to:</p>
            <p>
                Data Protection Officer<br />
                PEAC (UK) Limited <br />
                Inspired <br />
                Easthampstead Road <br />
                Bracknell <br />
                Berkshire<br />
                RG12 1YQ
            </p>
        </div>
         

    </div>
</div>


 

 
