<div class="container">
    <div class="block-bg text-center mb-20">
        <div class="order-success">
            <h2>Congratulations!</h2>
            <div class="success-icon"><i class="fa fa-check"></i></div>
            <p>Your order has been successfully processed!</p>
            <p>You can view your order history by going to the <a ui-sref="OrderHistory">Order History</a> page.</p>
            <p>If your purchase has been  associated download, you can go to the account downloads page to view button.</p>
            <p>Please direct any questions you have to the store owner.</p>
            <p>Thanks for shopping with us online!</p>
            <button class="btn btn-empty mt-30" ui-sref="Home">Continue</button>
        </div>
    </div>
</div>
