<div ng-controller="PointsImporterController">
    <form id="form">
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4> <a href="" ui-sref="Home"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold"><a href="" ui-sref="Home">Home</a> -</span> {{PageTitle}}</h4>
                </div>
                <div class="heading-elements">
                    <div class="heading-btn-group">

                    </div>
                </div>
            </div>
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li> This page allows you to import a Customer Points by uploading a .xls/.xlsx file</li>
                </ul>
                <ul class="breadcrumb-elements">
                    <li>
                        <button class="btn btn-info cursor-pointer">
                            <a href="../../../SampleFile/points_importer_template.xls">
                                Downlaod Template<i class="fa fa-cloud-download position-right"></i>
                            </a>
                        </button>
                        <button type="button" ng-click="PointsImporter()" class="btn btn-success cursor-pointer">Import <i class="fa fa-cloud-upload position-right"></i></button>
                    </li>

                </ul>
            </div>
        </div>
        <div class="page-header-content">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td colspan="2">This page allows you to adjust Customer Points by uploading an Excel Spreadsheet.  You can download a template spreadsheet by clicking the blue button just above this text (Download Template).  Once you have created your Points Import XLS file, select it using the "Choose File" button, select the store that the spreadsheet applies to and then click the Import button to being importing.</td>
                                </tr>
                                <tr>
                                    <td width="25%">Select Store</td>
                                    <td>
                                        <select ng-options="store.store_id as store.name  for store in StoreList"
                                                class="form-control" ng-model="store_id" name="store_List" ng-init="CheckStoreDropDownEnabled()" ng-disabled="IsStoreDropDownEnabled==false">
                                            <option value=""> --- Please Select --- </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%">Points Update Spreadsheet (XLS): </td>
                                    <td><input type="file" id="upload" name="upload" onchange="angular.element(this).scope().setFiles(this)" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="25%">Send Email</td>
                                    <td>
                                        <input type="checkbox" ng-false-value="false" ng-true-value="true" name="IsSendEmail" ng-model="IsSendEmail"> Yes/No
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>



    <!-- Modal -->



<script>
    //$("#fileToUpload").change(function () {
    //    var fileExtension = ['csv'];
    //    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
    //        alert("Only formats are allowed : " + fileExtension.join(', '));
    //    }
    //});


</script>










