<div ng-controller="PointsImporterController">
    <form id="form">
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4> <a href="" ui-sref="Home"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold"><a href="" ui-sref="Home">Home</a> -</span> {{PageTitle}}</h4>
                </div>
                <div class="heading-elements">
                    <div class="heading-btn-group">

                    </div>
                </div>
            </div>
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li> This page allows you to import a Customer Points by uploading a .xls/.xlsx file</li>
                </ul>
                <ul class="breadcrumb-elements">
                    <li>
                        <button class="btn btn-info cursor-pointer">
                            <a href="../../../SampleFile/points_importer_template.xls">
                                Downlaod Template<i class="fa fa-cloud-download position-right"></i>
                            </a>
                        </button>
                        <button type="button" ng-click="PointsImportOnPopup()" class="btn btn-success cursor-pointer">Import <i class="fa fa-cloud-upload position-right"></i></button>
                    </li>

                </ul>
            </div>
        </div>
        <div class="page-header-content">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td colspan="2">This page allows you to adjust Customer Points by uploading an Excel Spreadsheet.  You can download a template spreadsheet by clicking the blue button just above this text (Download Template).  Once you have created your Points Import XLS file, select it using the "Choose File" button, select the store that the spreadsheet applies to and then click the Import button to being importing.</td>
                                </tr>
                                <tr>
                                    <td width="25%">Select Store</td>
                                    <td>
                                        <select ng-options="store.store_id as store.name  for store in StoreList"
                                                class="form-control" ng-model="store_id" name="store_List" ng-init="CheckStoreDropDownEnabled()" ng-disabled="IsStoreDropDownEnabled==false">
                                            <option value=""> --- Please Select --- </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%">Points Update Spreadsheet (XLS): </td>
                                    <td><input type="file" id="upload" name="upload" onchange="angular.element(this).scope().setFiles(this)" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="25%">Send Email</td>
                                    <td>
                                        <input type="checkbox" ng-false-value="false" ng-true-value="true" name="IsSendEmail" ng-model="IsSendEmail"> Yes/No
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div id="PointImportModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Customer Points Import</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header-content">
                        <div class="panel panel-flat">
                    
                            
                            <div class="panel-heading">
                                <div class="tableFixHead">
                                    <table class="table table-bordered  table-striped datatable-responsive" datatable="ng" id="tblPointImport" dt-options="dtOptions" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Customer Email</th>
                                            <th>Existing Points</th>
                                            <th>New Points</th>
                                            <th>Final Points</th>
                                            <th>Note</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="Item in ReviewpointList" ng-class="{redColor: (Item.adjustmentPoints<0||Item.Note!=''),greenColor:Item.adjustmentPoints>=0&&Item.existingPoints>=0 && Item.Note==''}">
                                            <td ng-bind="Item.emailAddress"></td>
                                            <td ng-bind="Item.existingPoints"></td>
                                            <td ng-bind="Item.Uploadpoints"></td>
                                            <td ng-bind="Item.adjustmentPoints"></td>
                                            <td ng-bind="Item.Note"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                           

                            </div>
                        </div>
                        <div class="row">
                            <b>Note:</b><span> Customers who are highlighted with green colour will be imported.</span>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-5">
                    <button type="button" class="btn btn-primary" ng-click="ImportPointsConfirm()">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>







<script>
                    //$("#fileToUpload").change(function () {
                    //    var fileExtension = ['csv'];
                    //    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    //        alert("Only formats are allowed : " + fileExtension.join(', '));
                    //    }
                    //});


</script>



<style type="text/css">
    .redColor {
        color: red;
    }

    .greenColor {
        color: green;
    }
    .tableFixHead {
        overflow-y: auto;
        height: 500px;
    }
        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }
    #tblPointImport {
        border-collapse: collapse;
        width: 100%;
    }
</style>






