    <div class="container" ng-controller="OrderHistoryController">
    <div class="my-account mt-30">
        <div class="col-sm-12">
            <div class="points ">
                <h3>Order History</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pt-30 table-responsive text-center">
        <table class="table table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Order Id</th>
                    <th>Order Status</th>
                    <th>Date</th>
                    <th>No. of Product</th>
                    <th>Customer Name</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in OrderHisotry">
                    <td ng-bind="'#'+Item.order_id"></td>
                    <td ng-bind="Item.OrderStatusName"></td>
                    <td ng-bind="Item.date_added | date:GlobalDateFormat"></td>
                    <td ng-bind="Item.TotalQtyInOrder"></td>
                    <td ng-bind="(Item.firstname) + (Item.lastname)">l</td>
                    <td ng-bind="Item.OrderTotalText"></td>
                    <td><a href="" ui-sref="OrderDetail({OrderId:Item.order_id})"><i class="fa fa-eye"></i></a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
