<div ng-controller="AuditPointsController">
    <section class="container">
        <div class="account-block reward-points" style="margin-bottom:50px">
            <div class="col-sm-12 table-responsive">
                <table class="table table-hover" id="tblPointsAudit">
                    <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Withdrawal</th>
                            <th class="text-center">Deposit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Item in AuditPointsList">
                            <td class="text-center" ng-bind="Item.timestamp | date:GlobalDateFormat"></td>
                            <td class="text-center" ng-bind="Item.comment"></td>
                            <td class="text-center" ng-bind="Item.Withdrawal"></td>
                            <td class="text-center" ng-bind="Item.Deposit"></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Deposit Balance : </b><span ng-bind="(totalBalance | number : 0)+' Points'"></span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>