<div ng-controller="ShowRewardController">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i>  {{PageTitle}}</h4>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>  This page allows you to lookup rewards.</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li><button type="button" class="btn btn-primary btn-md" data-placement="top" data-toggle="tooltip" title="Add New Reward" ui-sref="ManageReward"><i class="glyphicon glyphicon-plus-sign position-left"></i> New Reward</button></li>
            </ul>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1 col-sm-offset-3">
                <label class=" control-label">Select Store:</label>
            </div>
            <div class="col-lg-4">
                <select ng-model="StoreId" ng-options=" store.store_id as store.name for store in StoreList"
                        class="form-control cursor-pointer" name="StoreId" ng-change="GetRewardList()" ng-disabled="store_Id>0">
                    <option value="">All</option>
                </select>

            </div>
        </div>
    </div>
    <div class="page-header-content">

        <table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblReward" dt-options="dtOptions" width="100%">
            <thead>
                <tr>
                    <th class="col-sm-3">Title</th>
                    <th>Store Name</th>
                    <th>Reward Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in rewardList">
                    <td class="col-sm-3" ng-bind="Item.Title"></td>
                    <td ng-bind="Item.store_name"></td>
                    <td ng-bind="Item.RewardTypeName"></td>
                    <td ng-bind="Item.start_date | date:GlobalDateFormat"></td>
                    <td ng-bind="Item.end_date | date:GlobalDateFormat"></td>
                    <td ng-bind="Item.description"></td>
                    <td class="cursor-pointer text-center">
                        <a ui-sref="ManageReward({rewardId:Item.id})" data-placement="top" data-toggle="tooltip" title="Edit"> <i class="glyphicon glyphicon-edit cursor-pointer"></i></a>
                        <a ui-sref="ViewReward({rewardId:Item.id})" data-placement="top" data-toggle="tooltip" title="View"> <i class="glyphicon glyphicon-eye-open cursor-pointer"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>